/**
 * Layout Base Styles
 * Container and layout structure
 */

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-wrap: break-word;
  justify-content: space-between;

  p {
    margin-block-start: .5em;
    margin-block-end: .5em;
    hyphens: auto;
  }

  code {
    hyphens: manual;
  }
}

.max-width {
  max-width: var(--page-width);
}

@media (max-width: 480px) {
  .px3 {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .my4 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 480px) {
  p {
    text-align: justify;
  }
}

@media (min-width: 540px) {
  .image-wrap {
    flex-direction: row;
    margin-bottom: 2rem;

    .image-block {
      flex: 1 0 35%;
      margin-right: 2rem;
    }

    p {
      flex: 1 0 65%;
    }
  }
}
