/**
 * Comments Component
 * Converted from _partial/comments.styl
 */

.blog-post-comments {
  margin-top: 1rem;
  font-family: var(--font-family-mono) !important;
}

.blog-post-comments * {
  font-family: var(--font-family-mono) !important;
}
