/**
 * Post Actions Desktop
 * Converted from _partial/post/actions_desktop.styl
 */

#header-post {
  position: fixed;
  top: 2rem;
  right: 0;
  display: inline-block;
  float: right;
  z-index: 10;
}

#header-post a {
  background: none;
  color: inherit;
  text-decoration: none;
}

#header-post a.icon {
  background: none;
}

#header-post a.icon:hover {
  color: var(--color-link);
}

#header-post ol {
  list-style-type: none;
}

#header-post ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#header-post ul li {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}

#header-post ul li:last-child {
  margin-right: 0;
}

#header-post #menu-icon {
  float: right;
  margin-right: 2rem;
  margin-left: 15px;
}

#header-post #menu-icon:hover {
  color: var(--color-accent-1);
}

#header-post #menu-icon-tablet {
  float: right;
  margin-right: 2rem;
  margin-left: 15px;
}

#header-post #menu-icon-tablet:hover {
  color: var(--color-accent-1);
}

#header-post #top-icon-tablet {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  margin-right: 2rem;
  margin-left: 15px;
}

#header-post #top-icon-tablet:hover {
  color: var(--color-accent-1);
}

#header-post .active {
  color: var(--color-accent-1);
}

#header-post #menu {
  visibility: visible;
  margin-right: 1rem;
  position: relative;
  z-index: 100;
}

#header-post #nav {
  color: var(--color-accent-1);
  letter-spacing: .01em;
  font-weight: 200;
  font-style: normal;
  font-size: .8rem;
}

#header-post #nav ul {
  line-height: 15px;
}

#header-post #nav ul a {
  margin-right: 15px;
  color: var(--color-accent-1);
}

#header-post #nav ul a:hover {
  background-image: linear-gradient(transparent, transparent 5px, var(--color-accent-1) 5px, var(--color-accent-1));
  background-position: bottom;
  background-size: 100% 6px;
  background-repeat: repeat-x;
}

#header-post #nav ul li {
  border-right: 0;
}

#header-post #nav ul li:last-child {
  margin-right: 0;
  border-right: 0;
}

#header-post #nav ul li:last-child a {
  margin-right: 0;
}

#header-post #actions {
  float: right;
  margin-top: 2rem;
  margin-right: 2rem;
  width: 100%;
  text-align: right;
}

#header-post #actions ul {
  display: block;
}

#header-post #actions .info {
  display: block;
  font-style: italic;
}

#header-post #share {
  clear: both;
  padding-top: 1rem;
  padding-right: 2rem;
  text-align: right;
}

#header-post #share li {
  display: block;
  margin: 0;
}

#header-post #toc {
  float: right;
  clear: both;
  overflow: auto;
  margin-top: 1rem;
  padding-right: 2rem;
  max-width: 16em;
  max-height: calc(95vh - 7rem);
  text-align: right;
}

#header-post #toc a:hover {
  color: var(--color-link);
}

#header-post #toc .toc-level-1 > .toc-link {
  color: var(--color-accent-1);
  font-weight: bold;
  font-size: .7rem;
}

#header-post #toc .toc-level-1 > .toc-link:before {
  position: relative;
  left: -.1rem;
  font-weight: bold;
  font-size: .7rem;
  color: var(--color-accent-4);
  content: " H1";
}

#header-post #toc .toc-level-2 {
  color: #efefef;
  font-size: .5rem;
}

#header-post #toc .toc-level-2:before {
  position: relative;
  left: -.1rem;
  font-weight: bold;
  font-size: .5rem;
  color: var(--color-accent-4);
  content: " H2";
}

#header-post #toc .toc-level-3 {
  color: #999;
  font-size: .4rem;
  font-style: italic;
}

#header-post #toc .toc-level-3:before {
  position: relative;
  left: -.2rem;
  font-weight: bold;
  font-size: .4rem;
  color: var(--color-accent-4);
  font-style: normal;
  content: " H3";
}

#header-post #toc .toc-level-4 {
  color: color-mix(in srgb, var(--color-meta) 80%, black 20%);
  font-size: .3rem;
}

#header-post #toc .toc-level-5 {
  display: none;
}

#header-post #toc .toc-level-6 {
  display: none;
}

#header-post #toc .toc-number {
  display: none;
}

/* Media queries */
@media screen and (max-width: 500px) {
  #header-post {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  #header-post #menu-icon {
    display: none;
  }
  
  #header-post #actions {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  #header-post #toc {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  #header-post #menu-icon-tablet {
    display: none !important;
  }
  
  #header-post #top-icon-tablet {
    display: none !important;
  }
}

@media screen and (min-width: 1199px) {
  #header-post #actions {
    width: auto;
  }
  
  #header-post #actions ul {
    display: inline-block;
    float: right;
  }
  
  #header-post #actions .info {
    display: inline;
    float: left;
    margin-right: 2rem;
    font-style: italic;
  }
}

@media print {
  #header-post {
    display: none;
  }
  
  #footer-post-container {
    display: none;
  }
}
